<div class="container">
    <h1>{{title}}</h1>
    <form action="/addCam" method="POST" style="display: inline-grid;">
        <input class="form__item" name="name" id="name" type="text" placeholder="Имя камеры"/>
        <input class="form__item" name="id" id="id" type="text" placeholder="Id камеры" />
        <button class="form__item">Добавить</button>
    </form>
</div>