<div class="container">
    <h1>{{title}}</h1>
    <form action="/addPair" method="POST" style="display: inline-grid;">
        <input class="form__item" name="name" type="text" placeholder="Номер пары"/>
        <input class="form__item" name="startTime" type="datetime" placeholder="Начало пары (hh:mm:ss)" />
        <input class="form__item" name="endTime" type="datetime" placeholder="Конец пары (hh:mm:ss)" />
        <button class="form__item">Добавить</button>
    </form>
</div>