<div class="container">
    <h1>{{title}}</h1>    
    <h1>login..</h1>
    <form>
        <input type="text" name="login"/>
        <input type="password" name="password"/>
    </form>
    <a href="/day">Войти</a>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.js"></script>
<script src="../js/Inputmask-5.x/dist/jquery.inputmask.js"></script>
<script src="../js/index.js"></script>