<div class="container">
    <h1>{{title}}</h1>
    <form action="/auth" method="POST">
        <input class="form__item" type="text" name="login" placeholder="Login"/>
        <input class="form__item" type="password" name="password" placeholder="Password"/>
        <button class="form__item">Войти</button>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.js"></script>
<script src="../js/Inputmask-5.x/dist/jquery.inputmask.js"></script>
<script src="../js/index.js"></script>